[Service]
ExecStart=/bin/bash /usr/share/nginx/html/ocr.sh
WorkingDirectory=/usr/share/nginx/html
User=http
After=cam0.service cam1.service ws.service

[Install]
WantedBy=multi-user.target
